* {
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #edede9;
  color: #353535;
  font-family: "Plus Jakarta Sans", "serif";
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.75rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0;
}

p {
  font-size: 1rem;
  color: #676767;
}

li {
  font-weight: 500;
}

.sub-heading_wrap {
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  background-color: #3535353b;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 2rem;
}

.heading-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  padding-bottom: 2rem;
}

.card-wrap {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #35353521;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  gap: 0.2rem;
}

.sub-heading {
  font-family: "Space Mono", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button {
  border: none;
  background-color: #eb5e28;
  color: #edede9;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

@media (max-width: 850px) {
  .card-wrap {
    flex-direction: column;
  }

  .card {
    flex-basis: auto;
  }
}
